<div class="container p-5 bg-white">
  <div class="row">
    <div class="col-12 text-center">
      <h1>{{title}}</h1>
    </div> 
  </div>
  <hr>
  <div class="row">
    <div class="col-6 text-center shadow p-3 mb-5 bg-body rounded border border-2 p-2" *ngIf="!ocultarFormCrear">
        <h3>Crear nueva tarea</h3>
        <form>
          <label for="nombreTarea">Nombre Tarea</label>
          <input type="text" class="form-control" name="nombreTarea"  [(ngModel)]="model.nombre">
          <label for="horaTarea">Hora Tarea</label>
          <input type="time" class="form-control" name="horaTarea" [(ngModel)]="model.hora">   
          <input class="btn btn-success" type="button" (click)="agregarTareas()" value="Guardar tarea">  
        </form>
      </div> 
      <div class="col-6 text-center shadow p-3 mb-5 bg-body rounded border border-2 p-2" *ngIf="!ocultarFormModificar" >
        <h3>Actualizar tarea</h3>
        <form>
          <label for="nombreTarea">Nombre Tarea</label>
          <input type="text" class="form-control" name="nombreTarea"  [(ngModel)]="modelActualizar.nombre">
          <label for="horaTarea">Hora Tarea</label>
          <input type="time" class="form-control" name="horaTarea" [(ngModel)]="modelActualizar.hora">   
          <input class="btn btn-primary" type="button" (click)="actualizarTareas()" value="Modificar tarea">  
        </form>
      </div> 
      <div class="col-6 text-center">
        <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="mensaje">
          {{mensaje}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="cerrarAlerta()"></button>
        </div>
      </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12 text-center">
        <h3>Lista de tareas</h3> 
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Nombre Tarea</th>
              <th>Hora</th>
              <th>Estado</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tarea of arrTareas; let i=index ">
              <td>{{tarea.nombre}}</td> 
              <td>{{tarea.hora}}</td> 
              <td>{{tarea.estado}}</td> 
              <td>
                <a (click)="eliminarTareas(i)" class="btn btn-danger">Eliminar</a>
                <a (click)="editarTareas(i)" class="btn btn-warning">Editar</a>
                  <a (click)="cambiarEstadoTareas(i)" *ngIf="tarea.estado != 'Terminada'" class="btn btn-info">Terminar</a>
              </td>
            </tr>
          </tbody>
        </table>
    </div>  
  </div>

</div>